{% extends 'blank_layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% for movie_obj in movies %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{movie_obj.poster.url}}" class="card-img-top" alt="{{movie_obj.title}}" height="250px">
                <div class="card-body">
                    <h5 class="card-title text-center">{{movie_obj.title}}</h5>
                    <a href="{% url 'detail' movie_obj.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}